services:
  qdrant:
    image: qdrant/qdrant:v1.14.1
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - 6333
      - 6334
      - 6335
    configs:
      - source: qdrant_config
        target: /qdrant/config/production.yaml
    volumes:
      - ./qdrant_data:/qdrant/storage
    ulimits:
      nofile:
        soft: 65535
        hard: 65535

configs:
  qdrant_config:
    content: |
      log_level: INFO